// Colors
$white: #ffffff;
$black: #000000;
$gray-050: #111111;
$gray-100: #333333;
$gray-200: #666666;
$gray-300: #767676;
$gray-400: #888888;
$gray-500: #aaaaaa;
$gray-600: #cccccc;
$gray-700: #dddddd;
$gray-800: #eeeeee;
$gray-900: #f3f3f3;
$gray-1000: #f9f9f9;
$red-100 : #D80C18;
$red-200 : #F48070;
$blue-100 : #0077DD;
$blue-200 : #0754B4;
$blue-300 : #E3F2FF;
$brown-200 : #7E726D;
$brown-300 : #8E837F;
$brown-400 : #F8F6F5;
$brown-500 : #F6F4F3;
$sand-100 : #C1AE91;
$green-100 : #54AA9B;
$primary-color: $red-100;
$danger-color: $red-100;

// Typography : font color
$font-color: (
	"white": #ffffff,
    "black": #000000,
    "red-100": #D80C18,
    "blue-100": #0077DD,
	"blue-200": #0754B4,
);
@each $key, $value in $font-color {
	.fc-#{$key} {
		color: $value !important;
	}
}